{% extends 'layout.html' %}
{% load bootstrap5 %}


{% block title %}Accueil{% endblock title %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="login-form bg-light mt-4 p-4">
                        <form action="{% url 'resetpassword' token=ldap_user.token_reset_password %}" method="post"
                              class="row g-3"
                              oninput='password2.setCustomValidity(password2.value !== password.value ? "Passwords do not match." : "")'>
                            {% csrf_token %}
                            <h4>Mot de passe</h4>

                            <div class="col-12">
                                <label>
                                    <input type="password" name="password" class="form-control"
                                           placeholder="Mot de passe">
                                </label>
                            </div>

                            <h4> Confirmer le mot de passe</h4>

                            <div class="col-12">
                                <label>
                                    <input type="password" name="password2" class="form-control"
                                           placeholder="Confirmer le mot de passe">
                                </label>
                            </div>


                            <div class="col-12">
                                <button type="submit" class="btn btn-dark float-end">Confirm</button>
                            </div>
                        </form>
                        <hr class="mt-4">

                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock content %}